* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F2F3F5;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #313338;
}

.container-main {
    width: 100%;
}

.container-nav1 {
    height: 100%;
    width: 75px;
    position: fixed;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    background-color: #1E1F22;
    align-items: center;
    justify-content: flex-start;
    z-index: 99;
}

.container-nav1 h3 {
    font-size: 10px;
    font-weight: 900;
    color: #35363C;
}

.container-nav1 #box1 {
    height: 50px;
    width: 50px;
    border-radius: 35%;
    background-color: #5865F2;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 7px;
}

.container-nav1 #box1 img {
    height: 30px;
    object-fit: cover;
}

.container-nav1 #box1:hover {
    transform: scale(1.1);
    border-radius: 20px;
}

.container-nav1 #box2 {
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 35%;
    background-color: #313338;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}

.container-nav1 #box2 img {
    height: 30px;
    object-fit: cover;
}

.container-nav1 #box2:hover {
    transform: scale(1.1);
    border-radius: 20px;
}

.container-nav1 #box3 {
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 35%;
    background-color: #313338;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 7px;
}

.container-nav1 #box3 img {
    height: 30px;
    object-fit: cover;
}

.container-nav1 #box3:hover {
    transform: scale(1.1);
    border-radius: 20px;
}

.container-nav1 #box4 {
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 35%;
    background-color: #313338;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}

.container-nav1 #box4 img {
    height: 30px;
    object-fit: cover;
}

.container-nav1 #box4:hover {
    transform: scale(1.1);
    border-radius: 20px;
}

.container-nav2 {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #313338;
    align-items: center;
    justify-content: flex-start;
    z-index: 98;
}

.container-n2left {
    height: 100%;
    width: 21%;
    padding-right: 15px;
    border-bottom: 1px solid #000;
    display: flex;
    background-color: #2B2D31;
    align-items: center;
    justify-content: flex-end;
}

.container-n2left input {
    height: 30px;
    width: 220px;
    padding: 0 7px;
    background-color: #1E1F22;
    border-radius: 3px;
    border: none;
}

.container-n2center {
    height: 100%;
    width: 60%;
    gap: 5px;
    padding: 0 30px;
    display: flex;
    background-color: #313338;
    align-items: center;
    justify-content: flex-start;
}

.container-n2center img {
    height: 30px;
}

.container-n2center h4 {
    font-size: 16px;
    font-weight: 500;
}

.container-n2center h2 {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 100;
    color: #1E1F22;
}

.container-n2center a {
    color: #dbdee1;
    color: rgb(219, 222, 225);
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    transition: 0.3s;
}

.container-n2center a:hover {
    background-color: #f8f8f82a;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

#Add-Friends {
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
    background-color: #248046;
}



.container-n2right {
    height: 100%;
    width: 19%;
    padding: 0 30px;
    display: flex;
    background-color: #313338;
    align-items: center;
    justify-content: flex-end;
}

.container-n2right h4 {
    text-align: center;
}

.container-n2right img {
    margin: 0 10px;
    height: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.container-n2right img:hover {
    transform: scale(1.210);
}

.container-n2right h2 {
    font-size: 30px;
    font-weight: 100;
    color: #1E1F22;
}

.container-page1 {
    display: flex;
}

.container-panel-left {
    height: 100vh;
    width: 21%;
    padding-right: 5px;
    background-color: #2B2D31;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.container-panel-left button {
    border: none;
    outline: none;
    display: flex;
    border-radius: 10px;
    height: 40px;
    width: 235px;
    background-color: transparent;
    color: #b4b4b4;
    font-size: 10px;
    transition: 0.3s;
    align-items: center;
    justify-content: flex-start;
    font-size: 9px;
    font-weight: 100;
}

.container-panel-left img {
    margin: 0 10px;
    height: 25px;
}

.container-panel-left button:hover {
    background-color: rgba(151, 151, 151, 0.5);
}

.container-messege-add {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;
}

.container-messege-add h6 {
    font-size: 10px;
    font-weight: 500;
    color: #b4b4b4;
    margin-right: 100px;
}

.container-messege-add img {
    height: 15px;
    cursor: pointer;
    opacity: 0.6;
    transition: all ease 0.3s;
}

.container-messege-add img:hover {
    transform: scale(1.150);
    opacity: 1.5;
}

.container-panel-center {
    height: 100vh;
    width: 80%;
    padding-top: 100px;
    display: flex;
    gap: 50px;
    background-color: #111214;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-panel-nl{
    height: 43%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 50px;
    border-radius: 30px;
    background-color: #6C77F4;
    align-items: flex-start;
    justify-content: center;
}

.container-panel-nl h1{
    font-size: 38px;
    font-weight: 900;
}

.container-panel-nl p{
    font-size: 17px;
    font-weight: 600;
    color: #f1fcfee3;
}


.container-panel-nl2{
    height: 43%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #0B2129;
    align-items: center;
    justify-content: center;
}

.container-panel-nl2 h1{
    font-size: 15px;
    font-weight: 600;
}
